{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %} 
{% load i18n %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{% trans 'Visits' %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Site' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Visit date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Visit Due date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Visit Completed date' %}</th>                  
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Done' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Engineer name' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Visit Image' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Visit PDF' %}</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for visit in visits %}
                <tr>
                  <td class="align-middle text-center">
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ visit.contract.company }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <p class="d-flex flex-column justify-content-center">{{ visit.site }}</p>
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-xs font-weight-bold mb-0">{{ visit.visit_date }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.due_date %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.due_date }}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.completed_date %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.completed_date }}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-sm">
                    {% if visit.done %}
                    <span class="badge badge-sm bg-gradient-success">{{ visit.done }}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">{{ visit.done }}</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-sm">
                    <span>{{visit.eng.name}}</span>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.image %}
                    <a href="{{ visit.image.url }}"><i class="fas fa-file-image text-lg me-1"></i>Image</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.pdf %}
                    <a href="{{ visit.pdf.url }}" target="_blank"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

