{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 text-end">
      <a class="btn bg-gradient-dark mb-2" href="{% url 'company-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;{% trans 'Create New Company' %}</a>
    </div>
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{% trans 'Companies' %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company Name' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Manager' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Company Address' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Phone Number' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Tax Registration number' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'ERP code' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'City' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Area' %}</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for company in companies %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                        <a href="{% url 'company-profile' company.id %}" class="text-primary">
                          {{ company.company_name }}
                        </a>
                      </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{company.manager}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{company.company_address}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{company.phone_number}}</span>
                  </td>
                  <td class="align-middle text-center">
                    {% if company.tax_registration_number %}
                    <span class="text-xs font-weight-bold">{{company.tax_registration_number}}</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    {% if company.ERP_code %}
                    <span class="text-xs font-weight-bold">{{company.ERP_code}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
            
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{company.city}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{company.area}}</span>
                  </td>
                  <td class="align-middle">
                    <a  href="{% url 'company-edit' company.id %}" class="font-weight-bold text-xs" >
                      <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i>
                    </a>
                      <!-- Delete button wrapped in a form -->
                      <form method="POST" action="{% url 'company-delete' company.id %}" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this contract?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-danger text-gradient px-3 mb-0">
                          <i class="far fa-trash-alt me-2"></i>
                        </button>
                      </form>
                  </td>
               

                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}

