{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <div class="container">
    <h2>{% trans 'Create New Site' %}</h2>
    <form action="{% url 'site-create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}  <!-- Renders the form fields -->
      <button type="submit" class="btn btn-success">{% trans 'Create' %}</button>
      <a href="{% url 'site-list' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
    </form>
  </div>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
  const CitiesURL= "{% url 'ajax_load_areas' %}"
  const SubCompaniesURL="{% url 'ajax_load_subcompanies' %}"
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'js/cities-areas.js' %}"></script>
{% endblock %}