{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
{% block content %}

<div class="container-fluid py-4">

  <!-- the numbers display  -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Total Contracts' %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_contracts}}
                  <!-- <span class="text-success text-sm font-weight-bolder">+55%</span> -->
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-file-contract text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Contracts Value' %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_value}}
                  <!-- <span class="text-success text-sm font-weight-bolder">+3%</span> -->
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-dollar-sign text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-7">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Clients' %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_companies}}</h5>
              </div>
            </div>
            <div class="col-5 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-users text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Emergency Requests' %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{emergencyvisitscount}}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="fas fa-exclamation-triangle text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MONTH NAME  -->
  <div class="row">
    <h2 style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">{{ this_month }}</h2>
  </div>

  <!-- VISITS of the month -->
  <div class="row my-4">
    <div class="col-lg-6 col-md-6 mb-md-0 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>{% trans 'Visits of the Month' %}</h6>
              <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">{{ visits_count }} {% trans 'visits' %} </span>
              </p>
            </div>
          </div>
        </div>
      
        <div class="card-body pt-4 p-3">
          <!-- Visits of the Month -->
          <ul class="list-group visit-list" id="month-visits">
            {% for visit in visits %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h5 class="mb-3 text-sm">{{ visit.site }}</h5>
                <h6 class="mb-3 text-sm">{{ visit.site.company }}</h6>
                <span class="mb-2 text-xs">{% trans 'Visit Date' %}: <span class="text-dark ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
              </div>
              <div class="ms-auto text-end">
                <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </li>
            {% endfor %}
          </ul>
      

        </div>
      </div>
      
    </div>
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="card z-index-2">
        <div class="card-header pb-0">
          <h6>{% trans 'Maintenance visits overview' %}</h6>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <p class="text-sm">
              <i class="fa fa-check text-success">
                <span class="font-weight-bold">{{done_count}}</span></i>
                {% trans 'Done' %}
              </p>
              <p class="text-sm">
                <i class="fa fa-check text-danger">
                  <span class="font-weight-bold">{{not_done_count}}</span></i>
                  {% trans 'Not Done' %}
                </p>
          </div>
        </div>
        <div class="card-body p-3">
          <canvas id="maintenancePieChart" width="400" height="370"></canvas>
      </div>
      </div>
    </div>
  </div>
   <!-- Emergency visit section -->
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
    <div class="card">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6>{% trans 'Emergency Visits' %}</h6>
          </div>
        </div>
      </div>
    
      <div class="card-body pt-4 p-3">
         <!-- Emergency Visits -->
         <ul class="list-group visit-list" id="emergency-visits">
          {% for visit in emergencyvisits %}
          <li style="background-color: #f89155; color: #fff;" class="list-group-item border-0 d-flex p-4 mb-2  border-radius-lg">
            <div class="d-flex flex-column">
              <h6  style="color: #fff;" class="mb-3 text-sm">{{ visit.site }}</h6>
              <span style="color: #fff;" class="mb-2 text-xs">{% trans 'Visit Requested Date' %}: <span style="color: #fff;" class="ms-sm-2 font-weight-bold">{{ visit.request_visit_date }} {% trans 'within' %} {{visit.contract.emergency_within_period}} {% trans 'hours' %}</span></span>
              <span style="color: #fff;" class="mb-2 text-xs">{% trans 'Visit Price' %}: <span style="color: #fff;" class="ms-sm-2 font-weight-bold">{{ visit.price }}</span></span>
            </div>
            <div class="ms-auto text-end">
              <button type="button" class="btn btn-success btn-sm" onclick="openCard3('{{ visit.id }}')">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>
  <!-- Invoices of the month -->
   <div class="row mt-4">
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="card h-100 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
        <div class="card-header pb-0 px-3">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-0">{% trans 'Invoices Of The Month' %}</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
              <i class="far fa-calendar-alt me-2"></i>
              <small>{{current_date}}</small>
            </div>
          </div>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            {% for invoice in invoices_not_done %}
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                <div class="d-flex flex-column">
                  <!-- Check if the company exists -->
                  {% if invoice.contract and not invoice.sub_company %}
                  <h6 class="mb-1 text-dark text-sm">{{ invoice.contract}}</h6>
                  <!-- Check if both company and sub-company exist -->
                  {% elif invoice.contract and invoice.sub_company %}
                  <h6 class="mb-1 text-dark text-sm">{{ invoice.sub_company}}</h6>
                  <!-- Fallback if no company or sub-company -->
                  {% else %}
                  <h6 class="mb-1 text-dark text-sm">{% trans 'No Company Data' %}</h6>
                  {% endif %}
                  <span class="text-xs">{{invoice.invoice_date}}</span>
                </div>
              </div>
              <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                {{invoice.amount}}
              </div>
              <div class="d-flex text-end">
                <button type="button" class="btn btn-success btn-sm" onclick="openCard2('{{ invoice.id }}')">
                  <i class="fa fa-plus"></i>
                </button>               
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="card z-index-2">
        <h6 class="ms-2 mt-4 mb-0">{% trans 'Invoices of the month' %}</h6>
        <div class="card-body p-3">
              <canvas id="invoicesBarChart" class="chart-canvas" height="300"></canvas>
        </div>
      </div>
    </div>
   </div>
  <!-- Valid and Invalid visits -->
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 mb-md-0 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>{% trans 'Visits Expiring Soon' %}</h6>
              <p class="text-sm mb-0">
                <!-- <i class="fa fa-check text-info" aria-hidden="true"></i> -->
                <!-- <span class="font-weight-bold ms-1">{{ visits_count }} {% trans 'visits' %} </span> -->
              </p>
            </div>
          </div>
        </div>
      
        <div class="card-body pt-4 p-3">
          <!-- Visits valid of the Month -->
          <ul class="list-group visit-list" id="month-visits">
            {% for visit in valid_visits %}
            <li style="background-color: #FFFF99 !important;" class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h5 class="mb-3 text-sm">{{ visit.site }}</h5>
                <h6 class="mb-3 text-sm">{{ visit.site.company }}</h6>
                <span class="mb-2 text-xs">{% trans 'Visit Date' %}: <span class="text-dark ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
              </div>
              <div class="ms-auto text-end">
                <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
    </div>
    <div class="col-lg-6 col-md-6 mb-md-0 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>{% trans 'Visits Expired' %}</h6>
              <p class="text-sm mb-0">
                <!-- <i class="fa fa-check text-info" aria-hidden="true"></i> -->
                <!-- <span class="font-weight-bold ms-1">{{ visits_count }} {% trans 'visits' %} </span> -->
              </p>
            </div>
          </div>
        </div>
      
        <div class="card-body pt-4 p-3">
          <!-- Visits valid of the Month -->
          <ul class="list-group visit-list" id="month-visits">
            {% for visit in expired_visits %}
            <li style="background-color: #FF3333 !important;" class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h5 class="mb-3 text-sm">{{ visit.site }}</h5>
                <h6 class="mb-3 text-sm">{{ visit.site.company }}</h6>
                <span class="mb-2 text-xs">{% trans 'Visit Date' %}: <span class="text-dark ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
              </div>
              <!-- <div class="ms-auto text-end">
                <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                  <i class="fa fa-plus"></i>
                </button>
              </div> -->
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
    </div>
  </div>

</div>


<!-- Visit Modal -->
<div class="modal fade" id="visitModal" tabindex="-1" role="dialog" aria-labelledby="visitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visitModalLabel">{% trans 'Update Maintenance Visit' %}</h5>
      </div>
      <div class="modal-body">
        <form id="visitForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="visitId" name="visit_id">
          <div class="form-group">
            <label for="actual_visit_date">{% trans 'Completed Visit Date' %}</label>
            <input type="date" class="form-control" id="actual_visit_date" name="actual_visit_date" required>
          </div>
          <div class="form-group">
            <label for="done_by">{% trans 'Done by' %}</label>
            <select class="form-control" id="done_by" name="done_by" required>
              <option value="">{% trans 'Select Engineer' %}</option>
              {% for engineer in engineers %}
                <option value="{{ engineer.id }}">{{ engineer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="visit_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="visit_image" name="image" accept="image/jpeg, image/png" >
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="visit_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="visit_pdf" name="pdf" accept="application/pdf" >
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitVisitForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- Emergency Visit Modal -->
<div class="modal fade" id="emergencyVisitModal" tabindex="-1" role="dialog" aria-labelledby="emergencyVisitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emergencyVisitModalLabel">{% trans 'Update Emergency Visit' %}</h5>
      </div>
      <div class="modal-body">
        <form id="emergencyVisitForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="emergencyVisitId" name="emergencyVisit_id">
          <div class="form-group">
            <label for="actual_emergencyVisit_date">{% trans 'Completed Visit Date' %}</label>
            <input type="date" class="form-control" id="actual_emergencyVisit_date" name="actual_emergencyVisit_date" required>
          </div>
          <div class="form-group">
            <label for="done_by">{% trans 'Done by' %}</label>
            <select class="form-control" id="done_by" name="done_by" required>
              <option value="">{% trans 'Select Engineer' %}</option>
              {% for engineer in engineers %}
                <option value="{{ engineer.id }}">{{ engineer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="emergencyVisit_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="emergencyVisit_image" name="emergencyVisit_image" accept="image/jpeg, image/png" >
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="emergencyVisit_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="emergencyVisit_pdf" name="emergencyVisit_pdf" accept="application/pdf" >
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitEmergencyVisitForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- Invoice Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceModalLabel">{% trans 'Update Invoice' %}</h5>
      </div>
      <div class="modal-body">
        <form id="invoiceForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="invoiceId" name="invoice_id">
          <div class="form-group">
            <label for="invoice_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="invoice_image" name="image" accept="image/jpeg, image/png" >
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="invoice_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="invoice_pdf" name="pdf" accept="application/pdf" >
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitInvoiceForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block extrascript %}

<!-- Include your custom JavaScript file -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script type="text/javascript">
  const dashboardUrl = "{% url 'dashboard' %}";
  const updateMaintenanceUrl = "{% url 'update_maintenance_visit' %}";
  const updateEmergencyUrl = "{% url 'update-emergency-visit' %}";
  const updateInvoiceUrl = "{% url 'update_invoice' %}";

  var doneCount =parseInt("{{ done_count }}") || 0;
  var notDoneCount =parseInt("{{ not_done_count }}") || 0;

  var doneInvoicesCount = parseInt("{{ getinvoices_done }}") || 0;
  var notDoneInvoicesCount = parseInt("{{ getinvoices_not_done }}") || 0;
  var doneInvoicesAmount = parseFloat("{{ total_invoice_amount_done }}") || 0;
  var notDoneInvoicesAmount = parseFloat("{{ total_invoice_amount_not_done }}") || 0;

 // Declare variables to keep track of the chart instances
  let myPieChart;
  let myBarChart;

  function initializePieChart() {
      const ctx1 = document.getElementById("maintenancePieChart").getContext("2d");

      // Destroy the existing chart if it exists
      if (myPieChart) {
          myPieChart.destroy();
      }

      myPieChart = new Chart(ctx1, {
          type: 'pie',
          data: {
              labels: [`{% trans 'Done' %}`, `{% trans 'Not Done' %}`],
              datasets: [{
                  data: [doneCount, notDoneCount],
                  backgroundColor: ['#4CAF50', '#F44336'], 
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      position: 'top',
                  },
                  tooltip: {
                      callbacks: {
                          label: function(tooltipItem) {
                              return tooltipItem.label + ': ' + tooltipItem.raw;
                          }
                      }
                  }
              }
          }
      });
  }

  function initializeBarChart() {
      const ctx = document.getElementById("invoicesBarChart").getContext("2d");

      // Destroy the existing chart if it exists
      if (myBarChart) {
          myBarChart.destroy();
      }

      myBarChart = new Chart(ctx, {
          type: "bar",
          data: {
              labels: [
                  `{% trans 'Collected Invoices' %} (${doneInvoicesCount})`,
                  `{% trans 'Not Collected Invoices' %} (${notDoneInvoicesCount})`
              ],
              datasets: [
                  {
                      backgroundColor: ['#4CAF50', '#F44336'],
                      data: [doneInvoicesAmount, notDoneInvoicesAmount]
                  }
              ]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      display: false
                  }
              },
              scales: {
                  y: {
                      beginAtZero: true,
                      ticks: {
                          font: {
                              size: 14,
                              family: "Open Sans"
                          },
                          color: "#333"
                      },
                      title: {
                          display: true,
                          text: '(EGP)'
                      },
                      grid: {
                          display: false
                      }
                  },
                  x: {
                      ticks: {
                          font: {
                              size: 14,
                              family: "Open Sans",
                              style: "normal",
                              weight: "normal"
                          },
                          color: "#333"
                      },
                      grid: {
                          display: false
                      }
                  }
              }
          }
      });
  }

  // Initialize both charts when the document is ready
  $(document).ready(function() {
      initializePieChart();
      initializeBarChart();
  });

  document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', function() {
        const filterType = this.getAttribute('data-filter');

        // Hide all visit lists
        document.querySelectorAll('.visit-list').forEach(list => {
            list.style.display = 'none';
        });

        // Show the selected list based on the filter type
        if (filterType === 'month') {
            document.getElementById('month-visits').style.display = 'block';
        } else if (filterType === 'valid') {
            document.getElementById('valid-visits').style.display = 'block';
        } else if (filterType === 'expired') {
            document.getElementById('expired-visits').style.display = 'block';
        } else if (filterType === 'emergency') {
            document.getElementById('emergency-visits').style.display = 'block';
        }
    });
});

function openCard(visitId) {
    $('#visitId').val(visitId);
    $('#visitModal').modal('show');
}

function openCard2(invoiceId) {
    $('#invoiceId').val(invoiceId);
    $('#invoiceModal').modal('show');
}

function openCard3(emergencyVisitId) {
    $('#emergencyVisitId').val(emergencyVisitId);
    $('#emergencyVisitModal').modal('show');
}

// Validation on Modal fields
function validateFileType() {
    // Get file inputs
    var imageInput = document.getElementById('visit_image');
    var pdfInput = document.getElementById('visit_pdf');
  
    // Error message elements
    var imageError = document.getElementById('imageError');
    var pdfError = document.getElementById('pdfError');
  
    // Check image file type
    if (imageInput.files.length > 0) {
        var imageFile = imageInput.files[0];
        var allowedImageTypes = ['image/jpeg', 'image/png'];
        if (!allowedImageTypes.includes(imageFile.type)) {
            imageError.style.display = 'block';
            return false;  // Prevent submission
        } else {
            imageError.style.display = 'none';  // Hide error
        }
    }
  
    // Check PDF file type
    if (pdfInput.files.length > 0) {
        var pdfFile = pdfInput.files[0];
        if (pdfFile.type !== 'application/pdf') {
            pdfError.style.display = 'block';
            return false;  // Prevent submission
        } else {
            pdfError.style.display = 'none';  // Hide error
        }
    }
  
    return true; 
}

// Submit the form of maintenance visits
function submitVisitForm() {
    // Validate file types before submitting
    if (!validateFileType()) {
      return;  // Stop form submission if validation fails
    }
    // Get form element
    var form = document.getElementById('visitForm');
    
    // Check if form is valid
    if (form.checkValidity()) {
      console.log('Form is valid. Preparing to submit.'); // Debug log
      var formData = new FormData(form);
      
      $.ajax({
        url: updateMaintenanceUrl,  // Django URL for handling the update
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included for Django
        },
        success: function(response) {
          if (response.success) {
            $('#visitModal').modal('hide');
            location.reload();  // Reload the page to update the table
          } else {
            alert('Error: ' + response.error);
          }
        },
        error: function(xhr, status, error) {
          console.error('AJAX error: ', error);
        }
      });
    } else {
      // If the form is invalid, trigger browser validation
      form.reportValidity();
    } 
  }

// Submit the form of emergency visits
function submitEmergencyVisitForm() {
    // Validate file types before submitting
    if (!validateFileType()) {
      return;  // Stop form submission if validation fails
    }
    // Get form element
    var form = document.getElementById('emergencyVisitForm');
    
    // Check if form is valid
    if (form.checkValidity()) {
      console.log('Form is valid. Preparing to submit.'); // Debug log
      var formData = new FormData(form);
      
      $.ajax({
        url: updateEmergencyUrl,  // Django URL for handling the update
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included for Django
        },
        success: function(response) {
          if (response.success) {
            $('#emergencyVisitModal').modal('hide');
            location.reload();  // Reload the page to update the table
          } else {
            alert('Error: ' + response.error);
          }
        },
        error: function(xhr, status, error) {
          console.error('AJAX error: ', error);
        }
      });
    } else {
      // If the form is invalid, trigger browser validation
      form.reportValidity();
    } 
  }

// Submit the form of invoice
function submitInvoiceForm() {
    // Validate file types before submitting
    if (!validateFileType()) {
      return;  // Stop form submission if validation fails
    }
    // Get form element
    var form = document.getElementById('invoiceForm');
    
    // Check if form is valid
    if (form.checkValidity()) {
      console.log('Form is valid. Preparing to submit.'); // Debug log
      var formData = new FormData(form);
      
      $.ajax({
        url: updateInvoiceUrl,  // Django URL for handling the update
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included for Django
        },
        success: function(response) {
          if (response.success) {
            $('#invoiceModal').modal('hide');
            location.reload();  // Reload the page to update the table
          } else {
            alert('Error: ' + response.error);
          }
        },
        error: function(xhr, status, error) {
          console.error('AJAX error: ', error);
        }
      });
    } else {
      // If the form is invalid, trigger browser validation
      form.reportValidity();
    } 
  }

// Redirect after submit 
function redirectToDashboard() {
window.location.href = dashboardUrl; 
}

</script>

{% endblock extrascript %}