{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
{% block content %}

<div class="container-fluid py-4">

  <!-- start the numbers display  -->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Total Contracts' %}</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_contracts}}
                    <!-- <span class="text-success text-sm font-weight-bolder">+55%</span> -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="fas fa-file-contract text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Contracts Value' %}</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_value}}
                    <!-- <span class="text-success text-sm font-weight-bolder">+3%</span> -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="fas fa-dollar-sign text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-7">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Clients' %}</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_companies}}</h5>
                </div>
              </div>
              <div class="col-5 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="fas fa-users text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">{% trans 'Emergency Requests' %}</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{emergencyvisitscount}}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="fas fa-exclamation-triangle text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- end  -->
    <div class="row my-4">
      <div class="col-lg-7 col-md-6 mb-md-0 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>{% trans 'Maintenance Visits' %}</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">{{ visits_count }} {% trans 'visits' %} {% trans 'in' %}</span> {{ this_month }}
                </p>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                  <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                    <li><a class="dropdown-item border-radius-md" href="javascript:;" data-filter="month">{% trans 'Visits of the Month' %}</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;" data-filter="valid">{% trans 'Visits valid' %}</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;" data-filter="expired">{% trans 'Visits not valid' %}</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;" data-filter="emergency">{% trans 'Emergency Visits' %}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
          <div class="card-body pt-4 p-3">
            <!-- Visits of the Month -->
            <ul class="list-group visit-list" id="month-visits">
              {% for visit in visits %}
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">{{ visit.site }}</h6>
                  <span class="mb-2 text-xs">{% trans 'Visit Date' %}: <span class="text-dark ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </li>
              {% endfor %}
            </ul>
        
            <!-- Visits Valid -->
            <ul class="list-group visit-list" id="valid-visits" style="display:none;">
              {% for visit in valid_visits %}
              <li style="background-color: #FFFF99;" class="list-group-item border-0 d-flex p-4 mb-2 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">{{ visit.site }}</h6>
                  <span class="mb-2 text-xs">{% trans 'Visit Date' %}: <span class="text-dark ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </li>
              {% endfor %}
            </ul>
        
            <!-- Expired Visits -->
            <ul class="list-group visit-list" id="expired-visits" style="display:none;">
              {% for visit in expired_visits %}
              <li style="background-color: #FF3333; color: #fff;" class="list-group-item border-0 d-flex p-4 mb-2  border-radius-lg">
                <div class="d-flex flex-column">
                  <h6  style="color: #fff;" class="mb-3 text-sm">{{ visit.site }}</h6>
                  <span style="color: #fff;" class="mb-2 text-xs">{% trans 'Visit Date' %}: <span style="color: #fff;" class="ms-sm-2 font-weight-bold">{{ visit.visit_date }}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <button type="button" class="btn btn-success btn-sm" onclick="openCard('{{ visit.id }}')">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </li>
              {% endfor %}
            </ul>

            <!-- Emergency Visits -->
            <ul class="list-group visit-list" id="emergency-visits" style="display:none;">
              {% for visit in emergencyvisits %}
              <li style="background-color: #f89155; color: #fff;" class="list-group-item border-0 d-flex p-4 mb-2  border-radius-lg">
                <div class="d-flex flex-column">
                  <h6  style="color: #fff;" class="mb-3 text-sm">{{ visit.site }}</h6>
                  <span style="color: #fff;" class="mb-2 text-xs">{% trans 'Visit Requested Date' %}: <span style="color: #fff;" class="ms-sm-2 font-weight-bold">{{ visit.request_visit_date }} {% trans 'within' %} {{visit.contract.emergency_within_period}} {% trans 'hours' %}</span></span>
                  <span style="color: #fff;" class="mb-2 text-xs">{% trans 'Visit Price' %}: <span style="color: #fff;" class="ms-sm-2 font-weight-bold">{{ visit.price }}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <button type="button" class="btn btn-success btn-sm" onclick="openCard3('{{ visit.id }}')">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
        
      </div>
      <div class="col-lg-5 mb-lg-0 mb-4">
        <div class="card z-index-2">
          <div class="card-header pb-0">
            <h6>{% trans 'Maintenance visits overview' %}</h6>
            <p class="text-center">{{this_month}}</p>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <p class="text-sm">
                <i class="fa fa-check text-success">
                  <span class="font-weight-bold">{{done_count}}</span></i>
                  {% trans 'Done' %}
                </p>
                <p class="text-sm">
                  <i class="fa fa-check text-danger">
                    <span class="font-weight-bold">{{not_done_count}}</span></i>
                    {% trans 'Not Done' %}
                  </p>
            </div>
          </div>
          <div class="card-body p-3">
            <canvas id="maintenancePieChart" width="400" height="300"></canvas>
        </div>
        </div>
      </div>
    </div>
<!-- end -->

    <div class="row mt-4">
      <div class="col-lg-5 mb-lg-0 mb-4">
        <div class="card z-index-2">
          <h6 class="ms-2 mt-4 mb-0">{% trans 'Invoices of the month' %}</h6>
          <div class="card-body p-3">
                <canvas id="invoicesBarChart" class="chart-canvas" height="300"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card h-100 mb-4" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">{% trans 'Invoices Of The Month' %}</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="far fa-calendar-alt me-2"></i>
                <small>{{current_date}}</small>
              </div>
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">{% trans 'Invoices Ready' %}</h6>
            <ul class="list-group">
              {% for invoice in invoices_done %}
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  <div class="d-flex flex-column">
                    <!-- Check if the company exists -->
                    {% if invoice.contract and not invoice.sub_company %}
                    <h6 class="mb-1 text-dark text-sm">{{ invoice.contract}}</h6>
                    <!-- Check if both company and sub-company exist -->
                    {% elif invoice.contract and invoice.sub_company %}
                    <h6 class="mb-1 text-dark text-sm">{{ invoice.sub_company}}</h6>
                    <!-- Fallback if no company or sub-company -->
                    {% else %}
                    <h6 class="mb-1 text-dark text-sm">{% trans 'No Company Data' %}</h6>
                    {% endif %}
                    <span class="text-xs">{{invoice.invoice_date}}</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                  {{invoice.amount}}
                </div>
                <div class="d-flex text-end">
                  <button type="button" class="btn btn-success btn-sm" onclick="openCard2('{{ invoice.id }}')">
                    <i class="fa fa-plus"></i>
                  </button>               
                </div>
              </li>
              {% endfor %}
            </ul>
            <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">{% trans 'Invoices Not Ready' %} </h6>
            <ul class="list-group">
              {% for invoicee in invoices_not_done %}
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
                  <div class="d-flex flex-column">
                    <!-- Check if the company exists -->
                    {% if invoicee.contract and not invoicee.sub_company %}
                    <h6 class="mb-1 text-dark text-sm">{{ invoicee.contract}}</h6>
                    <!-- Check if both company and sub-company exist -->
                    {% elif invoicee.contract and invoicee.sub_company %}
                    <h6 class="mb-1 text-dark text-sm">{{ invoicee.sub_company}}</h6>
                    <!-- Fallback if no company or sub-company -->
                    {% else %}
                    <h6 class="mb-1 text-dark text-sm">{% trans 'No Company Data' %}</h6>
                    {% endif %}
                    <span class="text-xs">{{ invoicee.invoice_date }}</span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                  {{invoicee.amount}}
                </div>
              </li>
              {% endfor %}
      
            </ul>
          </div>
        </div>
      </div>
    </div>
<!-- end -->

</div>


<!-- Visit Modal -->
<div class="modal fade" id="visitModal" tabindex="-1" role="dialog" aria-labelledby="visitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visitModalLabel">{% trans 'Update Maintenance Visit' %}</h5>
      </div>
      <div class="modal-body">
        <form id="visitForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="visitId" name="visit_id">
          <div class="form-group">
            <label for="actual_visit_date">{% trans 'Completed Visit Date' %}</label>
            <input type="date" class="form-control" id="actual_visit_date" name="actual_visit_date" required>
          </div>
          <div class="form-group">
            <label for="done_by">{% trans 'Done by' %}</label>
            <select class="form-control" id="done_by" name="done_by" required>
              <option value="">{% trans 'Select Engineer' %}</option>
              {% for engineer in engineers %}
                <option value="{{ engineer.id }}">{{ engineer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="visit_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="visit_image" name="image" accept="image/jpeg, image/png" required>
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="visit_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="visit_pdf" name="pdf" accept="application/pdf" required>
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitVisitForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- Emergency Visit Modal -->
<div class="modal fade" id="emergencyVisitModal" tabindex="-1" role="dialog" aria-labelledby="emergencyVisitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emergencyVisitModalLabel">{% trans 'Update Emergency Visit' %}</h5>
      </div>
      <div class="modal-body">
        <form id="emergencyVisitForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="emergencyVisitId" name="emergencyVisit_id">
          <div class="form-group">
            <label for="actual_emergencyVisit_date">{% trans 'Completed Visit Date' %}</label>
            <input type="date" class="form-control" id="actual_emergencyVisit_date" name="actual_emergencyVisit_date" required>
          </div>
          <div class="form-group">
            <label for="done_by">{% trans 'Done by' %}</label>
            <select class="form-control" id="done_by" name="done_by" required>
              <option value="">{% trans 'Select Engineer' %}</option>
              {% for engineer in engineers %}
                <option value="{{ engineer.id }}">{{ engineer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="emergencyVisit_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="emergencyVisit_image" name="emergencyVisit_image" accept="image/jpeg, image/png" required>
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="emergencyVisit_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="emergencyVisit_pdf" name="emergencyVisit_pdf" accept="application/pdf" required>
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitEmergencyVisitForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- Invoice Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceModalLabel">{% trans 'Update Invoice' %}</h5>
      </div>
      <div class="modal-body">
        <form id="invoiceForm" method="POST">
          {% csrf_token %}
          <input type="hidden" id="invoiceId" name="invoice_id">
          <div class="form-group">
            <label for="invoice_image">{% trans 'Upload Image' %}</label>
            <input type="file" class="form-control" id="invoice_image" name="image" accept="image/jpeg, image/png" required>
            <small id="imageError" class="text-danger" style="display:none;">{% trans 'Please upload a valid image (JPG or PNG)' %}.</small>
          </div>
          <div class="form-group">
            <label for="invoice_pdf">{% trans 'Upload PDF' %}</label>
            <input type="file" class="form-control" id="invoice_pdf" name="pdf" accept="application/pdf" required>
            <small id="pdfError" class="text-danger" style="display:none;">{% trans 'Please upload a valid PDF file' %}.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="redirectToDashboard()">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary" onclick="submitInvoiceForm()">{% trans 'Submit' %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block extrascript %}

<!-- Include your custom JavaScript file -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'js/custome.js' %}"></script>
<script type="text/javascript">
  const dashboardUrl = "{% url 'dashboard' %}";
  const updateMaintenanceUrl = "{% url 'update_maintenance_visit' %}";
  const updateEmergencyUrl = "{% url 'update-emergency-visit' %}";
  const updateInvoiceUrl = "{% url 'update_invoice' %}";

  var doneCount =parseInt("{{ done_count }}") || 0;
  var notDoneCount =parseInt("{{ not_done_count }}") || 0;

  var doneInvoicesCount = parseInt("{{ getinvoices_done }}") || 0;
  var notDoneInvoicesCount = parseInt("{{ getinvoices_not_done }}") || 0;
  var doneInvoicesAmount = parseFloat("{{ total_invoice_amount_done }}") || 0;
  var notDoneInvoicesAmount = parseFloat("{{ total_invoice_amount_not_done }}") || 0;

 // Declare variables to keep track of the chart instances
  let myPieChart;
  let myBarChart;

  function initializePieChart() {
      const ctx1 = document.getElementById("maintenancePieChart").getContext("2d");

      // Destroy the existing chart if it exists
      if (myPieChart) {
          myPieChart.destroy();
      }

      myPieChart = new Chart(ctx1, {
          type: 'pie',
          data: {
              labels: ['Done', 'Not Done'],
              datasets: [{
                  data: [doneCount, notDoneCount],
                  backgroundColor: ['#4CAF50', '#F44336'], 
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      position: 'top',
                  },
                  tooltip: {
                      callbacks: {
                          label: function(tooltipItem) {
                              return tooltipItem.label + ': ' + tooltipItem.raw;
                          }
                      }
                  }
              }
          }
      });
  }

  function initializeBarChart() {
      const ctx = document.getElementById("invoicesBarChart").getContext("2d");

      // Destroy the existing chart if it exists
      if (myBarChart) {
          myBarChart.destroy();
      }

      myBarChart = new Chart(ctx, {
          type: "bar",
          data: {
              labels: [
                  `Done Invoices (${doneInvoicesCount})`,
                  `Not Done Invoices (${notDoneInvoicesCount})`
              ],
              datasets: [
                  {
                      backgroundColor: ['#4CAF50', '#F44336'],
                      data: [doneInvoicesAmount, notDoneInvoicesAmount]
                  }
              ]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      display: false
                  }
              },
              scales: {
                  y: {
                      beginAtZero: true,
                      ticks: {
                          font: {
                              size: 14,
                              family: "Open Sans"
                          },
                          color: "#333"
                      },
                      title: {
                          display: true,
                          text: '(EGP)'
                      },
                      grid: {
                          display: false
                      }
                  },
                  x: {
                      ticks: {
                          font: {
                              size: 14,
                              family: "Open Sans",
                              style: "normal",
                              weight: "normal"
                          },
                          color: "#333"
                      },
                      grid: {
                          display: false
                      }
                  }
              }
          }
      });
  }

  // Initialize both charts when the document is ready
  $(document).ready(function() {
      initializePieChart();
      initializeBarChart();
  });

</script>

{% endblock extrascript %}