{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %} 
{% load i18n %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 text-end">
        <a class="btn bg-gradient-dark mb-2" href="{% url 'create-emergency-visits' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;{% trans 'Add New Emergency Visit request' %}</a>
      </div>
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{% trans 'Emergency Visits' %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Site' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Price' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit within' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Emergency Visit Request date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Emergency Visit date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Done' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Engineer name' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Comment' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit Image' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit PDF' %}</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for visit in visits %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column">
                        <h6 class="mb-0 text-sm">{{ visit.contract }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ visit.site }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.price %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.price}}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.contract.emergency_within_period %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.contract.emergency_within_period }} {% trans 'hours' %}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">{{ visit.request_visit_date }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.actual_visit_date %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.actual_visit_date }}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.done %}
                    <span class="badge badge-sm bg-gradient-success">{{ visit.done }}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">{{ visit.done }}</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.eng.name %}
                    <span>{{visit.eng.name}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.comment %}
                    <p class="text-xs font-weight-bold mb-0">{{ visit.comment }}</p>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.image %}
                    <a href="{{ visit.image.url }}"><i class="fas fa-file-image text-lg me-1"></i>Image</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.pdf %}
                    <a href="{{ visit.pdf.url }}" target="_blank"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  {% if request.user|is_admin %}
                  <td class="align-middle">
                    <a href="{% url 'edit-emergency-visits' visit.id %}" >
                      <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i>
                    </a>
                       <!-- Delete button wrapped in a form -->
                       <form method="POST" action="{% url 'delete-emergency-visit' visit.id %}" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this emergency visit?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-danger text-gradient px-3 mb-0">
                          <i class="far fa-trash-alt me-2"></i>
                        </button>
                      </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

