{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %} 
{% load i18n %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{% trans 'Contracts Expiring Soon' %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company Name' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Start Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'End Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract Price Value' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Invoice Frequency' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Invoice Calculated Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Maintenance Frequency' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit Price' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit within' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company Branch' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Annual Percentage' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Auto Renew' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Damgh Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Damgh Price' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract Image' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract PDF' %}</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for contract in contracts_expiring_soon %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <!-- <div>
                        <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                      </div> -->
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ contract.company.company_name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ contract.start_date }}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ contract.end_date }}</p>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.contract_price_value}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.invoice_frequency}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.invoice_date_calculation}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.maintenance_frequency}}</span>
                  </td>
                  <td class="align-middle text-center">
                    {% if contract.emergency_visit_price %}
                    <span class=" text-xs font-weight-bold">{{contract.emergency_visit_price}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    {% if contract.emergency_within_period %}
                    <span class=" text-xs font-weight-bold">{{contract.emergency_within_period}} {% trans 'hours' %}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.branch}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contract.branch_site}}</span>
                  </td>
                  <td class="align-middle text-center">
                    {% if contract.annual_increase %}
                    <span class="text-xs font-weight-bold">{{contract.annual_increase}} %</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if contract.auto_renew %}
                    <span class="badge badge-sm bg-gradient-success">{{contract.auto_renew}}</span>
                    {% else %}
                      <span class="badge badge-sm bg-gradient-danger">{{contract.auto_renew}}</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contract.damgh_date %}
                    <span class=" text-xs font-weight-bold">{{contract.damgh_date}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contract.damgh_price %}
                    <span class="text-xs font-weight-bold">{{contract.damgh_price}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contract.image %}
                    <a href="{{ contract.image.url }}">
                      <i class="fas fa-file-image text-lg me-1"></i> Image
                      <!-- <img src="{{ contract.image.url }}" alt="Contract Image" width="50" height="50"> -->
                    </a>
                    {% else %}
                      <span>-</span>
                    {% endif %}
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if contract.pdf %}
                      <a href="{{ contract.pdf.url }}" target="_blank"> <i class="fas fa-file-pdf text-lg me-1"></i> PDF</a>
                    {% else %}
                      <span>-</span>
                    {% endif %}
                  </td>
                  {% if request.user|is_admin %}
                  <td class="align-middle">
                    <a  href="{% url 'edit-contract' contract.id %}" class="font-weight-bold text-xs" >
                      <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i>
                    </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{% trans 'Contracts Expired' %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company Name' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'Start Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% trans 'End Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract Price Value' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Invoice Frequency' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Invoice Calculated Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Maintenance Frequency' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit Price' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Emergency Visit within' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Company Branch' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Annual Percentage' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Auto Renew' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Damgh Date' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Damgh Price' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract Image' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Contract PDF' %}</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% trans 'Actions' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for contracts in contracts_expired %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <!-- <div>
                        <img src="{% static 'img/team-2.jpg' %}" class="avatar avatar-sm me-3" alt="user1">
                      </div> -->
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ contracts.company.company_name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ contracts.start_date }}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ contracts.end_date }}</p>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.contract_price_value}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.invoice_frequency}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.invoice_date_calculation}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.maintenance_frequency}}</span>
                  </td>
                  <td class="align-middle text-center">
                    {% if contracts.emergency_visit_price %}
                    <span class=" text-xs font-weight-bold">{{contracts.emergency_visit_price}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    {% if contracts.emergency_within_period %}
                    <span class=" text-xs font-weight-bold">{{contracts.emergency_within_period}} {% trans 'hours' %}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.branch}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-xs font-weight-bold">{{contracts.branch_site}}</span>
                  </td>
                  <td class="align-middle text-center">
                    {% if contracts.annual_increase %}
                    <span class="text-xs font-weight-bold">{{contracts.annual_increase}} %</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if contracts.auto_renew %}
                    <span class="badge badge-sm bg-gradient-success">{{contracts.auto_renew}}</span>
                    {% else %}
                      <span class="badge badge-sm bg-gradient-danger">{{contracts.auto_renew}}</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contracts.damgh_date %}
                    <span class=" text-xs font-weight-bold">{{contracts.damgh_date}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contracts.damgh_price %}
                    <span class="text-xs font-weight-bold">{{contracts.damgh_price}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if contracts.image %}
                    <a href="{{ contracts.image.url }}">
                      <i class="fas fa-file-image text-lg me-1"></i> Image
                      <!-- <img src="{{ contract.image.url }}" alt="Contract Image" width="50" height="50"> -->
                    </a>
                    {% else %}
                      <span>-</span>
                    {% endif %}
                  </td>
                  
                  <td class="align-middle text-center text-sm">
                    {% if contracts.pdf %}
                      <a href="{{ contracts.pdf.url }}" target="_blank"> <i class="fas fa-file-pdf text-lg me-1"></i> PDF</a>
                    {% else %}
                      <span>-</span>
                    {% endif %}
                  </td>
                  {% if request.user|is_admin %}
                  <td class="align-middle">
                    <a  href="{% url 'renew-contract' contracts.id %}" class="font-weight-bold text-xs" >
                      <i class="fas fa-plus"></i>&nbsp;&nbsp;{% trans 'Renew' %}
                    </a>
                      <!-- Delete button wrapped in a form -->
                      <form method="POST" action="{% url 'contract-expire-delete' contracts.id %}" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this contract?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-danger text-gradient px-3 mb-0">
                          <i class="far fa-trash-alt me-2"></i>
                        </button>
                      </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
