{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <!-- Filter Form -->
    <div class="row mb-4">
      <form method="GET" action="{% url 'invoice-schedule' %}">
        <div class="row">
          <!-- Month Field -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Month</label>
              <select name="month" class="form-select">
                <option value="">Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
          </div>
  
          <!-- Done Status Field -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Is Done</label>
              <select name="done" class="form-select">
                <option value="">Select Done Status</option>
                <option value="true">Done</option>
                <option value="false">Not Done</option>
              </select>
            </div>
          </div>
  
          <!-- Submit Button -->
          <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>
        </div>
      </form>
    </div>
    <!-- End of Filter Form -->
  
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Invoice Schedule</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Company</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sub Company</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Invoice Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amount</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Is Paid</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PDF</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ invoice.contract }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ invoice.sub_company }}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ invoice.invoice_date }}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ invoice.amount }}</p>
                  </td>
                  <td class="align-middle text-sm">
                    {% if invoice.is_paid %}
                    <span class="badge badge-sm bg-gradient-success">{{ invoice.is_paid }}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">{{ invoice.is_paid }}</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if invoice.image %}
                    <a href="{{ invoice.image.url }}"><i class="fas fa-file-image text-lg me-1"></i> Image</a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if invoice.pdf %}
                    <a href="{{ invoice.pdf.url }}" target="_blank"> <i class="fas fa-file-pdf text-lg me-1"></i> PDF
                    </a>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'edit-invoice' invoice.id %}" >
                    <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i></a>

                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
