{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Maintenance Schedule</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Company</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Site</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Visit Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Done</th>

                </tr>
              </thead>
              <tbody>
                {% for visit in visits %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ visit.contract }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ visit.site }}</p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ visit.visit_date }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if visit.done %}
                    <span class="badge badge-sm bg-gradient-success">{{visit.done}}</span>
                    {% else %}
                      <span class="badge badge-sm bg-gradient-danger">{{visit.done}}</span>
                    {% endif %}
                  </td>

                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}
